* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.add {
  font-weight: 600;
  padding-top: 50px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name {
  font-size: 32px;
  padding-left: 470px !important;
  font-weight: 500;
}
